@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
/*Header i nav + przycisk do logowania*/
/*Do wszystkich stron*/
li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    font-size: 15px;
    color: black;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: #646ecb;
}
nav{
    align-items: center;
    text-align: center;
    vertical-align: middle;
}
.logo{
    cursor: pointer;
    width: 100px;
}
.nav-links{
    list-style: none;
    color: white;
}
.nav-links li{
    display: inline-block;
    padding: 0px 10px;
    color: white;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
}
.nav-links li a:hover{
   color: rgb(58, 53, 53);
}
ul{
    display: inline;
}

button{
    padding: 8px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button .ct{
    background-color: rgb(251, 252, 255);
}
button:hover{
    background-color: rgb(202, 196, 196);
}

#btn-violet{
    padding: 8px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: #646ecb;
}
#btn-violet:hover{
    background-color: rgb(202, 196, 196);
}

/*responsywność*/
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(35, 31, 31);
    margin: 5px;
}

@media only screen and (max-width: 768px){
    .nav-links{
        position: fixed;
        background-color: #646ecb;
        height: 100vh;
        width: 100%;
        top: 80px;
        left: -100%;
        text-align: center;
        z-index: 1;
        opacity: 0;
        transition: all 0.5s ease 0s;
    }
    .nav-links li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .nav-links li a{
        font-size: 20px;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
}

.main{
    background-color: white;
    position: absolute;
    width: 100%;
    display:block;
}

.search{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 493px;
}

.search {
    background-image: url("img/sofa-purple-living-room-with-copy-space.jpg");
    background-size: cover;
    flex-direction: column;
    backdrop-filter: brightness(200%) contrast(200%);
    -webkit-backdrop-filter: brightness(200%) contrast(200%);
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(0px);
    filter: brightness(103%);
  }

.baner-small {
    background-image: url("img/sofa-purple-living-room-with-copy-space.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
				filter: blur(0px) brightness(103%);
				backdrop-filter: brightness(200%) contrast(200%);
				-webkit-backdrop-filter: brightness(200%) contrast(200%);
				padding-bottom: 156px;
				padding-top: 0px;
				height: 316px;
  }

h1{
    position: relative;
    margin-bottom: 2%;
    font-family: "";
    font-size:30px;
    color: white;
}

.search p{
    position: relative;
    margin-bottom: 2%;  
}

button .cta{
    position: relative;
    margin-bottom: 2%;
}

.icon{
    color: white;
    background-color: #646ecb;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: grid;
    padding: 10px;
}

footer{
    background-color: #646ecb;
    min-height: 200px;
    color: #646ecb;
    align-items: center;
    text-align: center;
}

.footer-logo{
    background-image: url ("./img/logo_transparent_prostokat.png");
    width: 100px;
}

form#form-login{
    margin: 20px;
}

th{
    width: 90vw;
}
